# This file tells git what to ignore
!Client/lib/win32/
!Client/lib/posix/
*.o
*.d
*.a
*.bin
*.hex
*.exe
*.LIB
*.lib
*.map
*.elf
*~
*.lst
*.swp
dbg/
rel/
spy/
dbg_posix/
dbg_win32/
rel_posix/
rel_win32/
spy_posix/
spy_win32/
Debug/
.svn/
*_gen.*
ipAndMac.h
cscope.out
*.bak
env.mk
version.h
doc/
.LWIPMgr
.I2CMgr
.CommStackMgr
.SerialMgr
.MenuMgr
.I2CBusMgr
.I2C1DevMgr
.GuiMgr
