# This file tells git what to ignore
# WARNING: since this project creates generated C code, we don't want
# to include *.c and *.h files in this git repo, only the *.proto files
# from which they are generated.  Do not use this .gitignore file in 
# other places

gen_src/*.c
gen_src/*.h
lamGenSettings
gen_src/

*.o
*.d
*.a
*.bin
*.hex
*.exe
*.LIB
*.lib
*.map
*.elf
*~
*.lst
*.swp
dbg/
rel/
spy/
Debug/
.svn/
*.genproto
gen_src/*
